{{ 'fullpage.min.css' | asset_url | stylesheet_tag }}

<div id="lookbookContainer">
	<section class="section section1">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Roll-Neck-1.jpg?13200');"></div>
			</div>
			<div class="lookbook-col">
				<h1>Lookbook</h1>
				<h2>THE HIGHLANDS</h2>
				<p>by</p>
                <p>Luca Faloni</p>
				
			</div>
		</div>
	</section>
	<section class="section section2">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Roll-Neck-1..jpg?13200');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>CASHMERE<br />Roll Neck</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Roll-Neck-2.jpg?13200" />
					<a href="/collections/cashmere-roll-necks" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section3">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Hoody1.jpg?13200');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>CASHMERE<br />Hoodie</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Hoodie-2.jpg?13200" />
					<a href="/collections/cashmere-hoodies" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section4">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Polo-Sweater-1.jpg?13200');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>CASHMERE<br />Polo Sweater</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Cashmere_POLO_CAMEL_detail2920-_1_-min.jpg?13219" />
					<a href="/cashmere-polo-sweaters" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
    <section class="section section5">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Cable.jpg?13219');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>CASHMERE<br />Cable Knit</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Cable2-min.jpg?13222" />
					<a href="/collections/cashmere-cable-knit" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
  <section class="section section6">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Brushed-1.jpg?13222');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
                  <h2>BRUSHED<br />Cotton Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Oxford-2.jpg?13222" />
					<a href="/collections/brushed-cotton-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
  <section class="section section7">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Cashmere-V-Neck.jpg?13234');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>CASHMERE<br />V Neck</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/vneck2.jpg?13222" />
					<a href="/collections/cashmere-v-necks" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>  
  <section class="section section8">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Silk-Polo-1.jpg?13222');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>SILK-CASHMERE<br />Polo Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Silk-Polo-2.jpg?13222" />
					<a href="/collections/fine-silk-cashmere-polos" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
  <section class="section section9">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Brera-1.jpg?13222');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>BRERA<br />Polo Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Brera-min.jpg?13229" />
					<a href="/collections/brera-pique-polo-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
  <section class="section section10">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Vneck.jpg?13229');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>CASHMERE<br />Crew Neck</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Crew-Neck-2.jpg?13229" />
					<a href="/collections/cashmere-crew-necks" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>  
   <section class="section section11">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Oxford.jpg?13229');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>OXFORD<br />Shirts</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Oxford-2.jpg?13229" />
					<a href="/collections/oxford-cotton-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
  <section class="section section11">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Belt.jpg?13229');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>LEATHER<br />Accessories</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Gloves.jpg?13229" />
					<a href="/collections/leather" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
</div>
