<div class="services-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/plp-hero.jpg')">
  <div class="inner">
    <h1>Privacy & Cookie Policy</h1>
  </div>
</div>

<div class="service-content">
    <div class="luca-tabs">
        <div class="tab-heads">
            <div class="inner">
                <ul>
                    <li><a href="#privacy" class="active">Privacy Notice<span></span></a></li>
                    <li><a href="#cookies">Cookie Policy<span></span></a></li>
                </ul>
            </div>
        </div>
        <div class="luca-tab-content">
            <div class="inner">
                <div id="privacy" class="service-tab-content active-content">
                    <h3>Overview</h3>

					<p>Luca Faloni ltd (“Luca Faloni”, “we” and “us”) is dedicated to protecting its customers’ privacy. This Privacy Policy applies to the website www.lucafaloni.com, which is owned and managed by Luca Faloni LTD. According to the EU General Data Protection Regulation in force (GDPR), this Privacy Policy describes:</p>
					<ul>
						<li>How data is collected and used on Luca Faloni’s site</li>
						<li>What type of data is collected and with whom is shared</li>
						<li>How data is kept safe</li>
						<li>Users’ privacy rights and how users can enforce them</li>
					</ul>

					<p>This Privacy Policy does not apply to any data that Luca Faloni collects offline or through sources other than its site.</p>

					<h3>Data Ownership</h3>

					<p>Luca Faloni ltd - with registered office in 11 Airlie Gardens, London, Greater London, England, W8 7AL - is the Data Controller for the personal data collected on its site. The Data Processor for Luca Faloni is the current Marketing Manager. Personal data of customers outside Europe is treated according to the General Data Protection Regulation in force in the EU.

					<h3>Data we Collect</h3>

					<p>We collect the following data:</p>
					<ul>
						<li>Personal Data collected directly from customers through the purchase process: name, phone number, postal address, email address. Our legal basis for the collection and processing of this data is the accurate and safe delivery of the products purchased by the customer.</li>
						<li>Personal Data collected automatically from the use of our website. The data transmitted from the viewer's browser includes IP address, the date and time of the visit, the pages accessed, the access status/HTTP status code, browser type, operating system used and interface, as well as the language and version of the browser software. The legal basis for collecting and processing this personal data is to be able to provide the viewers with a better user experience and more personalised and relevant content.</li>
					</ul>

					<h3>How we use your data</h3>

					<p>We use your Personal Data:</p>
					<ul>
						<li>For the administration of your purchases, fraud checks, and to contact you about your order (for example with details on your order and returns).</li>
						<li>To contact you with marketing messages which you have requested or agreed to receive from us (for example via our branded newsletter).</li>
						<li>To contact you with surveys and feedback requests (for example relating to a product you purchased).</li>
						<li>To show you more relevant and personalised content and advertising.</li>
						<li>To analyse your purchase history and the way you use the site to improve our products and the user experience on our website.</li>
					</ul>
                </div>
          
                <div id="cookies" class="service-tab-content">
                    <p>Criteo is a personalized retargeting company that works with Internet retailers to serve more relevant online display advertisements to consumers who have previously visited the advertiser's website. Criteo places cookies on your computer to provide us with users’ browsing data, so that we can show you more relevant adverts. You can refuse these cookies by visiting Criteo Privacy Policy and your browsing data will be immediately deleted.</p>

					<h3>Social Media</h3>

					<p>We use social media platforms to deliver marketing messages that you have agreed to receive from them. In particular we use:</p>
					<ul>
						<li>Facebook</li>
						<li>Instagram</li>
					</ul>

					<p>If you do not wish to receive these marketing messages, please visit your Facebook and Instagram privacy settings.</p>

					<h3>Data Sharing</h3>

					<p>Luca Faloni will not sell any of your data. We will not share your personal data with anyone outside of the parties mentioned in this privacy policy (Google Analytics, Criteo, Facebook, Instagram). They suppliers are essential to operate the site, provide our services and manage your account.</p>

					<h3>Data Processors</h3>

					<p>We use third-party processors to collect, export, process and store Personal Data on our behalf. The processors we use currently are the following:</p>
					<ul>
						<li>Payment Processor - Paypal - Privacy Policy</li>
						<li>Payment Processor - Stripe - Privacy Policy</li>
						<li>CRM Tool - MailChimp - Privacy Policy</li>
						<li>E-Commerce Tool - Shopify - Privacy Policy</li>
						<li>Social Media Platform - Facebook, some data centers located in the U.S. - Privacy Policy</li>
						<li>Survey Tool - Survey Monkey, located in the U.S. Privacy Shield Certified. - Privacy Policy</li>
						<li>Web Management Tools - Google Analytics, located in the U.S. Privacy Shield Certified. - Privacy Policy</li>
					</ul>

					<h3>Consent withdrawal</h3>

					<p>If after you opt-in, you change your mind, you may withdraw your consent from us to contact you, for the continued collection, use or disclosure of your information, at anytime, by unsubscribing using the link in the emails or by contacting us at care@lucafaloni.com.</p>
                </div>
            </div>
        </div>
    </div>
</div>