<div class="services-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/artisan-1-min.jpg?17047')">
  <div class="inner">
    <h1>OUR ARTISANS</h1>
  </div>
</div>

<div class="story-intro story-intro-top">
  <div class="inner">
    <h2>For each design we partner with the finest craftsmen in Italy. <br />They have unique skills developed over generations.</h2>
  </div>
</div>

<div class="artisan-content">
  	<div class="inner">
      	<div class="artisan-top">
          	<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/artisan-2.jpg?17043" />
      	</div>
      
      	<div class="artisan-bottom">
          	<div class="artisan-left">
              	<p>At Luca Faloni we partner only with the best artisans and family run laboratories in Italy, selecting them in the regions known for exceptional expertise in specific products. This allows us to access the best knowledge and craftsmanship available, relying on learnings and traditions passed through generations. These craftsmen are passionate about their skills and care about the quality of each single piece they create.</p>
              	<p>As an example, in the town of Scandicci, four miles south of Florence, one of our partners, master craftsman Angelo and his family of artisans spend their days carefully creating our travel bags.</p>
              	<p>What struck us is their passion. It is rare to see Angelo not smiling whilst working the leather. With 40 years of experience in this field, he is one of the most experienced artisans in Tuscany, and therefore in the world. Together with his wife he has passed on this knowledge to his son and daughter. He loves his job and still works together with his family. This family is an example of the many craftsmen that we work with on the production of our designs.</p>
              	<p>They care about the uniqueness of each piece. ‘Ci vuole tempo!’ (‘It takes time!’) they say, to develop products of the highest standards.</p>
              <p>At Luca Faloni we do not take shortcuts and never compromise on quality. By selling directly to customers we are able to cut the ‘middleman’ and therefore we can invest more in superior materials, true Italian craftsmanship and more research and testing.</p>
          	</div>
          	<div class="artisan-right">
          		<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Artisan_3.jpg?21536" />
              	<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/Artisan_4.jpg?21536" class="artisan-image" />
          	</div>
          	<div class="clear">
          	</div>
      	</div>
  	</div>
</div>

<div class="services-header story-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/brushed-4-min.jpg?9348')">
  <div class="inner">
    <h2><a href="/pages/our-story">DISCOVER OUR STORY</a></h2>
  </div>
</div>

{% section 'collection-slider' %}