<div class="page-width">
  <div class="grid">

    <div id="CustomerLoginForm" class="form-vertical">
    	<h1>Our Site is Currently <br>
          Under Maintenance</h1>
      	<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/maint-image.png?23250" />
      <p>We will be back shortly</p>
    </div>

  </div>
</div>
