
<div class="lookbook-header desktop" style="background-image: url('https://cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Sand_Versilia_Linen_Shirt_Home_Sliders_Desktop_Made_in_Italy_B_bb72bd5e-5aeb-47f1-a46d-684ba46dfe0e.jpg?9028)'">
  {% comment %}<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/our_story.jpg?21909">{% endcomment %}
  <div class="hero__inner index">
      {% comment %}<span class="mega-subtitle slideshow__subtitle">NEW IN</span>{% endcomment %}
      <span class="mega-subtitle slideshow__subtitle">Lookbook</span>
        {% comment %}<h2 class="h1 mega-title slideshow__title">VERSILIA LINEN SHIRT</h2>{% endcomment %}
        <h2 class="h1 mega-title slideshow__title">The Great Escape</h2>
        <h3>By Luca Faloni</h3>
    </div>
</div>
<div class="lookbook-header mobile" style="background-image: url('https://cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Sand_Versilia_Linen_Shirt_Home_Sliders_Mobile_Made_in_Italy_2_1.jpg?9028)'">
  {% comment %}<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/our_story.jpg?21909">{% endcomment %}
  <div class="hero__inner index">
      {% comment %}<span class="mega-subtitle slideshow__subtitle">NEW IN</span>{% endcomment %}
      <span class="mega-subtitle slideshow__subtitle">Lookbook</span>
        {% comment %}<h2 class="h1 mega-title slideshow__title">VERSILIA LINEN SHIRT</h2>{% endcomment %}
        <h2 class="h1 mega-title slideshow__title">The Great Escape</h2>
        <h3>By Luca Faloni</h3>
    </div>
</div>


<div class="story-intro story-intro-top lbook-story">
  <div class="inner">
    {% comment %}<h2>We focus on 6 principles to bring you superior products</h2>{% endcomment %}
    <h2>This Season takes us on an exploration from volcanic shorelines to red hot peaks of distant landscapes. We travel the elements in crisp linens that are breathable and keep us refreshed and cool through the day’s venture.</h2>
    <div class="lbook-line"></div>
  </div>
</div>

<div class="lwrap top-lwrap">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/portofino-linen-shirts">
        	<img class="js lazyloaded" src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row1.jpg?7921" />
        </a>
      </div>
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/portofino-linen-shirts">
        	<img class="js lazyloaded" src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_1.jpg?8765" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookleft">
        
      </div>
      <div class="lbookright">
        <div class="lbookslider owl-carousel owl-theme owl-loaded owl-drag">
          <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/portofino-linen-shirts/products/lava-red-portofino-linen-shirt">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Portofino_Linen_Shirt_Made_In_Italy_Lava_Red_40613_1024x1024.jpg?v=1559834699" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/portofino-linen-shirts/products/lava-red-portofino-linen-shirt">
                  Lava Red Portofino Linen Shirt
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£130</span>
                          </span>
                      </dd>
                  </div>
</dl>-->
             </div>
          </div>
          <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/panarea-linen-cotton-shorts/products/navy-blue-panarea-linen-cotton-shorts">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca-Faloni_Panarea-Linen-Cotton-Shorts_Made-In-Italy_Navy-Blue_34652-copy_1024x1024.jpg?v=1559918970" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/panarea-linen-cotton-shorts/products/navy-blue-panarea-linen-cotton-shorts">
                  Navy Blue Panarea Linen-Cotton Shorts
                </a>
              </div>
               <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£130</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="craft-banner">
  <div class="home-video-frame"><div class="videoWrapper"><iframe style="height: 160%;width: 100vw;top: -30%;" src="https://player.vimeo.com/video/340407531?background=1" __idm_id__="156971009" width="100%" height="100%" frameborder="0"></iframe></div></div>
      
    {% comment %}<div class="hero__inner index">
      <span class="mega-subtitle slideshow__subtitle">Lookbook</span>
        <h2 class="h1 mega-title slideshow__title">The Great Escape</h2>
        <h3>By Luca Faloni</h3>
    </div>{% endcomment %}
</div>


<div class="lwrap imgright xs-no-padding">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/portofino-linen-shirts">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row2.jpg?8765" />
        </a>
      </div>
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/portofino-linen-shirts">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row2.jpg?7921" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/products/sand-panarea-linen-cotton-shorts">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca-Faloni_Panarea-Linen-Cotton-Shorts_Made-In-Italy_Sand_35557-copy_1024x1024.jpg?v=1559919084" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/products/sand-panarea-linen-cotton-shorts">
                  Sand Panarea Linen-Cotton Shorts
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£95</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/portofino-linen-shirts/products/midnight-blue-portofino-linen-shirt">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Portofino_Linen_Shirt_Made_In_Italy_Midnight_Blue_237_1024x1024.jpg?v=1559834932" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/portofino-linen-shirts/products/midnight-blue-portofino-linen-shirt">
                  Midnight Blue Portofino Linen Shirt
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£130</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
      <div class="lbookleft">
        
      </div>
    </div>
  </div>
</div>

<div class="lwrap ">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/versilia-linen-shirts">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row3.jpg?7921" />
        </a>
      </div>
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/versilia-linen-shirts">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row3.jpg?8765" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookleft">
        
      </div>
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/versilia-linen-shirts/products/sand-versilia-linen-shirt">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Versilia_Linen_Shirt_Made_In_Italy_Sand_9138_1024x1024.jpg?v=1559896362" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/versilia-linen-shirts/products/sand-versilia-linen-shirt">
                  Sand Versilia Linen Shirt
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£120</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/products/red-panarea-linen-cotton-shorts">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca-Faloni_Panarea-Linen-Cotton-Shorts_Made-In-Italy_Red_35790-copy_1024x1024.jpg?v=1559919011" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/products/red-panarea-linen-cotton-shorts">
                  Red Panarea Linen-Cotton Shorts
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£95</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="craft-banner">
  <img class="desktop js lazyloaded" src="https://cdn2.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Light_Blue_Versilia_Linen_Shirt_Banner_Made_in_Italy_2.jpg?8756">
  <img class="mobile js lazyloaded" src="https://cdn2.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Light_Blue_Versilia_Linen_Shirt_Banner_Mobile_Made_in_Italy_2.jpg?8756">
</div>

<div class="lwrap imgright xs-no-padding-second">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/forte-linen-shirts">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row4.jpg?8765" />
        </a>
      </div>
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/forte-linen-shirts">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row4.jpg?7921" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/forte-linen-shirts/products/petrol-green-forte-linen-shirt">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Forte_Linen_Shirt_Made_In_Italy_Petrol_Green_40403_1024x1024.jpg?v=1559917125"  class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/forte-linen-shirts/products/petrol-green-forte-linen-shirt">
                  Petrol Green Forte Linen Shirt
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£120</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/panarea-linen-cotton-shorts/products/sand-panarea-linen-cotton-shorts">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca-Faloni_Panarea-Linen-Cotton-Shorts_Made-In-Italy_Sand_35557-copy_1024x1024.jpg?v=1559919084" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/panarea-linen-cotton-shorts/products/sand-panarea-linen-cotton-shorts">
                  Sand Panarea Linen-Cotton Shorts
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£95</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
      <div class="lbookleft">
        
      </div>
    </div>
  </div>
</div>

<div class="lwrap">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/lipari-linen-trousers">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row5.jpg?7921" />
        </a>
      </div>
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/lipari-linen-trousers">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row5.jpg?8765" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookleft">
        
      </div>
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/lipari-linen-trousers/products/sand-lipari-linen-trousers">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Linen_Trouser_Made_In_Italy_Sand_9855_1024x1024.jpg?v=1560934452" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/lipari-linen-trousers/products/sand-lipari-linen-trousers">
                  Sand Lipari Linen Trousers
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£130</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/versilia-linen-shirts/products/khaki-green-versilia-linen-shirt">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Versilia_Linen_Shirt_Made_In_Italy_Military_Green_40113_1024x1024.jpg?v=1559837556" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/versilia-linen-shirts/products/khaki-green-versilia-linen-shirt">
                  Khaki Green Versilia Linen Shirt
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£120</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="craft-banner">
  <img class="desktop js lazyloaded" src="https://cdn2.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Striped_Forte_Linen_Shirt_Banner_Made_in_Italy._48269b87-8b89-472d-bfea-42b2fa22e0df.jpg?8756">
  <img class="mobile js lazyloaded" src="https://cdn2.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Striped_Forte_Linen_Shirt_Banner_Mobile_Made_in_Italy_5293c816-9e8f-415c-9792-cd67b2074689.jpg?8756">
</div>

<div class="lwrap imgright xs-no-padding-second">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/short-sleeved-polo-shirt">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row6.jpg?8765" />
        </a>
      </div>
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/short-sleeved-polo-shirt">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row6.jpg?7921" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/short-sleeved-polo-shirt/products/light-grey-short-sleeved-polo-shirt">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca-Faloni_Pique-Cotton-Short-Sleeves-Polo_Made-In-Italy_Light-Grey_41445_1024x1024.jpg?v=1559816903" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/short-sleeved-polo-shirt/products/light-grey-short-sleeved-polo-shirt">
                  Light Grey Short Sleeved Polo
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£105</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/lipari-linen-trousers/products/navy-blue-lipari-linen-trousers">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Linen_Trousers_Made_In_Italy_Navy_Blue_40777_1024x1024.jpg?v=1560934441" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/lipari-linen-trousers/products/navy-blue-lipari-linen-trousers">
                  Navy Blue Lipari Linen Trousers
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£130</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
      <div class="lbookleft">
        
      </div>
    </div>
  </div>
</div>

<div class="lwrap">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/fine-silk-cashmere-polos">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row7.jpg?7921" />
        </a>
      </div>
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/fine-silk-cashmere-polos">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row7.jpg?8765" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookleft">
        
      </div>
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/fine-silk-cashmere-polos/products/mustard-fine-silk-cashmere-polo">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Silk-Cashmere_Polo_Made_In_Italy_Mustard_11067_1024x1024.jpg?v=1559911889" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/fine-silk-cashmere-polos/products/mustard-fine-silk-cashmere-polo">
                  Mustard Fine Silk-Cashmere Polo
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£275</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/lipari-linen-trousers/products/light-grey-lipari-linen-trousers">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca-Faloni_Linen-Trouser_Made-In-Italy_Grey_3_1024x1024.jpg?v=1562169959" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/lipari-linen-trousers/products/light-grey-lipari-linen-trousers">
                  Light Grey Lipari Linen Trousers
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£130</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="craft-banner">
  <img class="desktop js lazyloaded" src="https://cdn2.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Turquoise_Silk-Cashmere_Crew_Neck_Banner_Made_in_Italy.jpg?8756">
  <img class="mobile js lazyloaded" src="https://cdn2.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Turquoise_Silk-Cashmere_Crew_Neck_Banner_Mobile_Made_in_Italy.jpg?8756">
</div>

<div class="lwrap imgright xs-no-padding-second">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/fine-silk-cashmere-crew-necks">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row8.jpg?8765" />
        </a>
      </div>
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/fine-silk-cashmere-crew-necks">
	        <img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row8.jpg?7921" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/fine-silk-cashmere-crew-necks/products/navy-blue-fine-silk-cashmere-crew-neck">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Fine_Silk-Cashmere_Crew_Neck_Made_In_Italy_Navy_41154_c_1024x1024.jpg?v=1559816657"  class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/fine-silk-cashmere-crew-necks/products/navy-blue-fine-silk-cashmere-crew-neck">
                  Navy Blue Fine Silk-Cashmere Crew Neck
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£245</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/panarea-linen-cotton-shorts/products/light-grey-panarea-linen-cotton-shorts">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca-Faloni_Panarea-Linen-Cotton-Shorts_Made-In-Italy_Light-Grey_1_1024x1024.jpg?v=1559918751" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/panarea-linen-cotton-shorts/products/light-grey-panarea-linen-cotton-shorts">
                  Light Grey Panarea Linen-Cotton Shorts
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£95</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
      <div class="lbookleft">
        
      </div>
    </div>
  </div>
</div>

<div class="lwrap">
  <div class="inner">
    <div class="lbookwrap">
      <div class="lbookleft">
        <a href="https://lucafaloni.com/collections/linen-accessories">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/t/180/assets/lbook_small_row9.jpg?7921" />
        </a>
      </div>
      <div class="lbookright">
        <a href="https://lucafaloni.com/collections/linen-accessories">
        	<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook_hr_row9.jpg?8765" />
        </a>
      </div>
    </div>
    <div class="lbookwrap lbookanim">
      <div class="lbookleft">
        
      </div>
      <div class="lbookright">
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/linen-accessories/products/blue-melange-linen-scarf">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Linen_Scarf_Made_In_Italy_Blue_Melange_34911_copy_1024x1024.jpg?v=1559928170" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/linen-accessories/products/blue-melange-linen-scarf">
                  Blue Melange Linen Scarf
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£75</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
        <div class="item">
            <div class="grid-view-item product-card">
              <div class="product-card__image-wrapper">
                <a href="https://lucafaloni.com/collections/portofino-linen-shirts/products/white-portofino-linen-shirt">
                  <img src="https://cdn.shopify.com/s/files/1/0597/8805/products/Luca_Faloni_Portofino_Linen_Shirt_Made_In_Italy_White_optin2_9665_1024x1024.jpg?v=1559844505" class="grid-view-item__image" />
                </a>
              </div>
              <div class="h4 grid-view-item__title product-card__title">
                <a href="https://lucafaloni.com/collections/portofino-linen-shirts/products/white-portofino-linen-shirt">
                  White Portofino Linen Shirt
                </a>
              </div>
              <!--<dl class="price" data-price="">
                  <div class="price__regular">
                      <dt>
                          <span class="visually-hidden visually-hidden--inline">Regular price</span>
                      </dt>
                      <dd>
                          <span class="price-item price-item--regular" data-regular-price="">
                              <span class="money">£130</span>
                          </span>
                      </dd>
                  </div>
              </dl>-->
             </div>
          </div>
      </div>
    </div>
  </div>
</div>