<div class="services-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/press-main-banner-min.jpg?22038')">
	<div class="inner">
		<h1>In The Press</h1>
	</div>
</div>

<div class="press-content">
	<div class="inner">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/plogo1.jpg" class="press-logo" />
				<p>"Luca Faloni - a purveyor of exceptional cashmere knits."</p>
				<a href="https://therake.com/stories/news/luca-faloni-open-its-doors-permanently-in-marylebone/" class="btn">Read More</a>
			</div>
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/press-2-min.jpg?22029" />
			</div>
		</div>

		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/silk-crew-press-min.jpg?22044" />
			</div>
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/plogo2.jpg" class="press-logo" />
				<p>"Leave it to the Italians to create a brand that marries excellent fabrication and affordable prices.” Stephen Doig, Men’s Style Editor"</p>
				<a href="https://www.telegraph.co.uk/luxury/mens-style/festival-style-staying-sharp-whatever-wet-british-weather/" class="btn">Read More</a>
			</div>
		</div>

		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/plogo3.jpg" class="press-logo" />
				<p>"Luca Faloni fuses the exceptional Italian techniques of his homeland with modern retail ideas, bringing tradition to the everyday consumer. With his elegant garments and wardrobe essentials, Luca Faloni has brought a dash of Italian sprezzatura to our shores."</p>
				<a href="https://www.thegentlemansjournal.com/article/10-cool-menswear-brands-you-should-be-taking-notice-of/" class="btn">Read More</a>
			</div>
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/press3.jpg" />
			</div>
		</div>

		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/press4.jpg" />
			</div>
			<div class="lookbook-col">
				<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/plogo4.jpg" class="press-logo" />
				<p>"Forget those baggy linen shirts your grandpa used to wear, Luca Faloni has re-invented this sunshine staple. Cut from light, breathable linen sourced from Italian artisanal mills and fitted with mother of pearl buttons, these shirts are cut to a more modern fit."</p>
				<a href="https://www.gq-magazine.co.uk/article/best-new-mens-items-this-week-paul-smith-river-island-zulu" class="btn">Read More</a>
			</div>
		</div>
	</div>
</div>

<div class="services-header story-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/artisans.jpg?22018')">
  <div class="inner">
    <h2><a href="/pages/our-artisans">LEARN MORE ABOUT OUR ARTISANS</a></h2>
  </div>
</div>