<div class="services-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/faq-2-min.jpg?22058')">
    <div class="inner">
        <h1>FAQ</h1>
    </div>
</div>

<div class="faqs-content">
    <div class="inner">
        <div class="tab-heads">
            <div class="inner">
                <ul>
                    <li><a href="#products" class="active">Products & Size<span></span></a></li>
                    <li><a href="#website">Website & Orders<span></span></a></li>
                    <li><a href="#shipping">Shipping & Returns<span></span></a></li>
                </ul>
            </div>
        </div>

        <div class="luca-tab-content">
            <div class="inner">
                <div id="products" class="service-tab-content active-content">
                    <div class="faqs">
                        <div class="faq">
                            <h3>Where are your products made?</h3>
                            <div class="faq-content">
                                <p>We are proud to offer products which are truly and completely ‘Made in Italy’.</p>
                                <p>All the fine materials we use are sourced from the most renowned suppliers in Italy. Also, for the manufacturing of each design we partner with the finest craftsmen in the country. They have unique skills which they have developed over generations and are based in regions of Italy known for their specific and exceptional expertise.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>How do I choose the right size?</h3>
                            <div class="faq-content">
                                <p>On each product page you can find our size and fit guide to help you find the best option. Size charts refer to the actual dimensions of the garment.</p> 
                                <p>If you already own a Luca Faloni product you should select the same size. Sizing is aligned across different product categories, so customers usually wear the same size in different items. For instance, if you are size Medium in the shirts you will most likely be a size Medium in cashmere knitwear. If you are size 32 in the shorts, you will also be size 32 in the belts.</p>
                                <p>Differences in the sizing charts for the same size are due to the fact that certain materials do not stretch when you wear them (linen and oxford cotton) while others do (cashmere).</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Where can I find the care instructions?</h3>
                            <div class="faq-content">
                                <p>You can find specific care instructions in each product page.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>When are you introducing new products?</h3>
                            <div class="faq-content">
                                <p>We are constantly working to expand our collection, but we not disclose specific release dates of new designs. We tend to only add two new designs each season and we focus on making a small number of products extremely well.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>I want to give you some product feedback, how do I do that?</h3>
                            <div class="faq-content">
                                <p>We welcome feedback from customers on our products and service so we can constantly improve them. If you would like to offer feedback, please send an email to <a href="mailto:care@lucafaloni.com">care@lucafaloni.com</a> and our Product Team will review it.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="website" class="service-tab-content">
                    <div class="faqs">
                        <div class="faq">
                            <h3>Where can I buy your products?</h3>
                            <div class="faq-content">
                                <p>As a direct-to-consumer brand the only place where you can buy our products is on our website. We skip intermediaries so we can invest in higher quality materials, craftsmanship and service instead of paying high commissions to retailers.</p>
                                <p>Occasionally we launch temporary stores, but you will never find our collection available at other retailers or stockists.</p> 
                                <p>We offer a hassle-free shopping experience, with free delivery, returns and size exchanges worldwide.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>How do I place an order?</h3>
                            <div class="faq-content">
                                <p>Purchasing from LUCA FALONI is easy.</p>
                                <p>If you know what you are looking for you can use the product category links in the SHOP drop down menu. You can also find ideas in the LOOKBOOK section.</p>
                                <p>Once you have found an item select your size based on the size guide available in each product page. Press the ‘ADD TO CART' button underneath. You can then add more products and click on the ‘CHECK OUT NOW' to complete your purchase.</p>
                                <p>You can pay for your order using all debit and credit cards, Apple Pay and Paypal. In the checkout process you can decide to create an account that will make future shopping easier. However, you can also check out without creating an account.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Which payment method do you accept?</h3>
                            <div class="faq-content">
                                <p>We accept all forms of payment: Visa, Visa Debit, Mastercard, Maestro, American Express, Apple Pay and PayPal.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Do I have to create an account to place an order?</h3>
                            <div class="faq-content">
                                <p>An order can be placed without creating an account. Creating an account during the check-out process makes it easier and faster to place new orders in the future. With an account you can also keep track of what you have purchased in the past and check the status of existing orders.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>I am having trouble logging into my customer account. How do I reset my password?</h3>
                            <div class="faq-content">
                                <p>Click on the login icon in the top right-hand corner of your screen and then click on the ‘FORGOT YOUR PASSWORD’ link. Simply enter your email address and we’ll email you a link to reset your password.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Does Luca Faloni have seasonal sales?</h3>
                            <div class="faq-content">
                                <p>Luca Faloni never have seasonal sales. We offer the same fair price the whole year to all customers.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>What if an item I want is out of stock?</h3>
                            <div class="faq-content">
                                <p>If the item you want to purchase is coming back in stock soon, you’ll have the option to pre-order it. Pre-order time is normally 2-3 weeks.  Once the items are back in stock we’ll ship them to you immediately.</p>
                                <p>We try to keep all items always in stock. However, some items that are out of stock might be restocked only when the season of that items approaches.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Can I change or cancel an order once it has been placed?</h3>
                            <div class="faq-content">
                                <p>If you need to make any changes to your order, please let us know as soon as possible and we’ll do our best to accommodate your request. Please note, once your order has been despatched we are unable to make any changes.</p>
                                <p>We cannot change the billing address and we can only offer exchanges for items of the same price.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Do you offer a gift-wrapping service?</h3>
                            <div class="faq-content">
                                <p>Yes - after having placed an order please send us an email at <a href="mailto:care@lucafaloni.com">care@lucafaloni.com</a> stating your order number with any special instructions, including handwritten messages, and we’ll take care of it.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>I have not received my order confirmation email. Has my order gone through?</h3>
                            <div class="faq-content">
                                <p>If you haven’t received your order confirmation email, your order may not have gone through successfully or you might have submitted the wrong email address.</p>
                                <p>Please check your spam folder, however if you still have not received it, please email us at care@lucafaloni.com and we will look into this for you.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Has my order been dispatched?</h3>
                            <div class="faq-content">
                                <p>As soon as your order has been dispatched, you’ll receive a shipping confirmation email with a tracking link to track your order.</p>
                                <p>Orders placed during the weekend or during public holidays are dispatched on the next business day. Order placed before 3pm are despatched on the same day.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="shipping" class="service-tab-content">
                    <div class="faqs">
                        <div class="faq">
                            <h3>Do you offer free delivery?</h3>
                            <div class="faq-content">
                                <p>Yes, we offer free shipping worldwide.</p>
                                <p>Shipping is always free in Italy, UK, US, Germany and Sweden. It is free also in the rest of the world on orders above €170, $200, £150 or the equivalent in local currency.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>How long will it take to receive my order?</h3>
                            <div class="faq-content">
                                <p>We offer the following shipping options with DHL:</p>
                                <ul>
                                    <li>Next working day delivery in the <strong>UK</strong></li>
                                    <li>1-2 working days for <strong>Europe</strong></li>
                                    <li>1-2 working days for <strong>US</strong></li>
                                    <li>2-4 working days for <strong>Rest of the World</strong></li>
                                </ul>
                                <p>Orders placed before 3pm GMT (Mon-Fri) will be dispatched the same day.</p>
                                <p>Orders placed on the weekend are dispatched on Monday.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Do you offer free returns and exchanges?</h3>
                            <div class="faq-content">
                                <p>Yes, we offer free returns and exchanges worldwide.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>What is your returns policy?</h3>
                            <div class="faq-content">
                                <p>You can return your items for a full refund or exchange within 30 days from the delivery date. All returns need to be received in the original packaging (in particular each product dust bag) and in an unused and resalable condition.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>How do I return my order?</h3>
                            <div class="faq-content">
                                <p>Email <a href="mailto:care@lucafaloni.com">care@lucafaloni.com</a> stating your order number and which items you’d like to exchange or return and the reason. We’ll send you a pre-paid DHL returns label together with the instructions for the collection. In some countries some drop-off options are also available.</p>
                                <p>Returns and exchanges are processed within two working days from the time we receive the products back.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>My item is faulty, how do I replace it?</h3>
                            <div class="faq-content">
                                <p>In the rare case that your item is faulty please email us at <a href="mailto:care@lucafaloni.com">care@lucafaloni.com</a> attaching a few pictures clearly showing the issue.</p>
                                <p>Our Product Team will evaluate the case and follow up with the best solution (replacement or repair depending on the case).</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Where is my order?</h3>
                            <div class="faq-content">
                                <p>You can track the progress of your order by clicking on the ‘TRACK YOUR PACKAGE’ link in your shipping confirmation email.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Which countries do you ship to?</h3>
                            <div class="faq-content">
                                <p>We ship worldwide.</p>
                            </div>
                        </div>
                        <div class="faq">
                            <h3>Do I have to pay duty and import charges?</h3>
                            <div class="faq-content">
                                <p>EU: If you are placing the order from a country in the EU there will never be duties payable.</p>
                                <p>US: All orders up to the value of USD$800 will not incur customs charges or duties.</p>
                                <p>Australia: All orders up to the value of AUD$1000 will not incur customs charges or duties.</p>
                                <p>The following countries have no charges and duties: Singapore and Hong Kong.</p>
                                <p>For all other countries, you might be liable for duty charges from your local customs authority. Please double check with them or send us an email when in doubt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-contact">
    <h3>If you have any questions or special requests, please contact our customer services.</h3>
    <div class="service-col">
    	<div class="scol">
            <a href="#"><span>+442034684710</span></a>
        </div>
        <div class="scol">
            <a href="mailto: care@lucafaloni.com"><span>care@lucafaloni.com</span></a>
        </div>
    </div>
</div>