{{ 'fullpage.min.css' | asset_url | stylesheet_tag }}

<div id="lookbookContainer">
	<section class="section section1">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-1-min.jpg?13141');"></div>
			</div>
			<div class="lookbook-col">
				<h1>Lookbook</h1>
				<h2>SPRING<br />IN THE CITY</h2>
				<p>by</p>
                <p>Luca Faloni</p>
				
			</div>
		</div>
	</section>
	<section class="section section2">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-2-min.jpg?13141');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>FINE-SILK CASHMERE<br />Polo</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/pring-3-min.jpg?13141" />
					<a href="/collections/fine-silk-cashmere-polos" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section3">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-5-min.jpg?13141');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>BRERA POLO<br />Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-6-min.jpg?13141" />
					<a href="/collections/brera-pique-polo-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section4">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-7-min.jpg?13141');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>FINE-SILK CASHMERE<br />Crew Neck</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-8-min.jpg?13141" />
					<a href="/collections/fine-silk-cashmere-crew-necks" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
    <section class="section section5">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-9-min.jpg?13141');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>OXFORD<br />Cotton Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spaing-10-min.jpg?13141" />
					<a href="/collections/oxford-cotton-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
  <section class="section section6">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0071/0659/2820/files/LucaFaloni_Springinthecitylookbook_Panarea_1.jpg?23461');"></div> 
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
                  <h2>LINEN-COTTON<br />Shorts</h2>
					<img src="//cdn.shopify.com/s/files/1/0071/0659/2820/files/LucaFaloni_Springinthecitylookbook_Panarea_2.jpg?23461" />
					<a href="/collections/panarea-linen-cotton-shorts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
  <section class="section section7">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-13-min.jpg?13141');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>BRUSHED<br />Cotton Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spting-141-min.jpg?13141" />
					<a href="/collections/brushed-cotton-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>  
  <section class="section section8">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-15-min.jpg?13141');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>CASHMERE<br />Knitwear</h2>
					<img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-16-min.jpg?13141" />
					<a href="/collections/cashmere-knitwear" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>  
  
</div>