<div class="services-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/files/services.jpg?22076')">
    <div class="inner">
        <h1>Services</h1>
    </div>
</div>

<div class="service-content">
    <div class="luca-tabs">
        <div class="tab-heads">
            <div class="inner">
                <ul>
                    <li><a href="#shipping" class="shipping active">Shipping<span></span></a></li>
                    <li><a href="#returns" class="returns">Returns<span></span></a></li>
                    <li><a href="#contact" class="contact">Contact<span></span></a></li>
                    <li><a href="#stores" class="stores">Our Stores<span></span></a></li>
                </ul>
            </div>
        </div>
        <div class="luca-tab-content">
            <div class="inner">
                <div id="shipping" class="service-tab-content active-content">
                    <h2>Shipping Information</h2>
                    <p><strong>We ship worldwide using DHL, to ensure a fast, tracked and safe delivery. </strong></p>
                    <p><strong>Shipping is always FREE on all orders worldwide</strong></p>
                    <p><strong>Delivery time:</strong></p>
                    <ul>
                        <li><span style="line-height: 1.4;">Next day in the UK</span></li>
                        <li><span style="line-height: 1.4;">1-2 days for US (depending on city)</span></li>
                        <li><span style="line-height: 1.4;">1-2 days for Europe (depending on country)</span></li>
                        <li><span style="line-height: 1.4;">2-3 days for Rest of the World</span></li>
                    </ul>
                    <p><span>Please note, faster shipping options are available.</span></p>
                    <p>If you have any question please write an email to care@lucafaloni.com, we can accomodate special requests and can offer faster delivery when necessary. </p>
                    <p style="text-align: center;"><span style="text-decoration: underline;"><a class="call-to-action-button" href="/collections/best-seller">EXPLORE OUR BEST SELLERS<span class="arrow">&gt;</span></a></span></p>
                </div>
          
                <div id="returns" class="service-tab-content">
                    <h2>Returns Information</h2>
                    <p>If for any reason you are unhappy with the products or the size, <strong>you can return them for a full refund or exchange them within 30 days, the process is EXTREMELY EASY and</strong><strong> FREE </strong><strong>WORLDWIDE on all orders.</strong> In case of exchanges, we will cover the cost of shipping the item back to you.</p>
                    <p class="p2">If you need to make a return or exchange or if you have any question, <strong>please send an email to care@lucafaloni.com. We will then organise a DHL pick up at your office or home. You can also make a return or exchange in store.</strong></p>
                    <p class="p2">Once we receive the items, we will credit the payment back to you in two days using the original payment method, or we will ship the new items. We can only accept items that are unworn and unwashed, and with the original packaging materials.</p>
                    <p style="text-align: center;"><span style="text-decoration: underline;"><a class="call-to-action-button" href="/collections/best-seller">EXPLORE OUR BEST SELLERS</a></span></p>
                </div>
  
                <div id="contact" class="service-tab-content">
                    <h2 style="text-align: center;">Contact Information</h2>   
                    <p style="text-align: center;"><strong>If you need to get in touch please email us and we will reply immediately </strong></p>
                    <p class="email" style="text-align: center;">For customer care, returns and feedback: <a href="mailto:care@lucafaloni.com">care@lucafaloni.com</a></p>
                    <p class="email" style="text-align: center;">For job applications: <a href="mailto:talent@lucafaloni.com">talent@lucafaloni.com</a></p>
                    <p class="email" style="text-align: center;">For PR enquires: <a href="mailto:press@lucafaloni.com">press@lucafaloni.com</a></p>
                      <hr />
                    <h4 style="text-align: center;">Or you can call us</h4>
                    <h4 style="text-align: center;">+442034684710</h4>
                    <h4 style="text-align: center;">(Monday to Friday, 9am - 6pm)</h4>
                </div>
        
                <div id="stores" class="service-tab-content">
                    <h2 style="text-align: center;">Stores Information</h2>
                  <span style="image-align: center"><img src="https://cdn.shopify.com/s/files/1/0597/8805/files/192_store_front_crop_1.jpg?3469" alt="" /></span>
                    <br/>
                  <br/>
                    <p style="text-align: center;">You can shop online with free worldwide shipping and returns or visit us in store:</p>
                    <h3 style="text-align: center;">London</h3>
                  <p style="text-align: center;"><strong>107-108 Marylebone High Street, W1U 4RU</strong></p>
                  <p style="text-align: center;"><strong>192 Piccadilly, W1J 9EU</strong></p>
                  <p style="text-align: center;">----</p>
                    <h4 style="text-align: center;">Opening Hours:</h4>
                    <p style="text-align: center;">Monday-Saturday: 10am–7pm</p>
                    <p style="text-align: center;">Sunday: 11am–5pm</p>
                    <p style="text-align: center;">----</p>
                    <h3 style="text-align: center;">Store Events</h3>
                    <p style="text-align: center;"><strong>Prosecco Thursdays | 5-7pm</strong></p>
                    <p style="text-align: center;"><strong>Saturday Aperitivo | 5-7pm</strong></p>
                    <p style="text-align: center;"><strong>Personal Shopping Sessions | Every day</strong></p>
                    <br/>
                    <h4 style="text-align: center;"><span style="text-decoration: underline;">Milan</span> - Coming Soon</h4>
                    <h4 style="text-align: center;"><span style="text-decoration: underline;">New York</span> - Coming Soon</h4>
                    <br/>
                    <p style="text-align: center;">Receive practical advice and guidance from our experts dedicated to making your shopping experience simpler. Personal Styling is complimentary and available exclusively in our London store.</p>
                    <p style="text-align: center;"><span style="text-decoration: underline;"><a class="call-to-action-button" href="https://calendly.com/luca-faloni/personal-shopper-session/01-10-2019">BOOK PERSONAL STYLING</a></span></p>
                </div>
            </div>
        </div>
    </div>
</div>
            
<div class="service-contact">
    <h3>If you have any questions or special requests, please contact our customer services.</h3>
    <div class="service-col">
    	<div class="scol">
            <a href="tel: +442034684710"><span>+442034684710</span></a>
        </div>
        <div class="scol">
            <a href="mailto: care@lucafaloni.com"><span>care@lucafaloni.com</span></a>
        </div>
    </div>
</div>

{% section 'collection-slider' %}