<div class="services-header" style="background-image:url('https://cdn.shopify.com/s/files/1/0071/0659/2820/t/8/assets/plp-hero.jpg')">
  <div class="inner">
    <h1>Careers</h1>
    <p>We are Luca Faloni. Italian at heart, cosmopolitan in our vision and passionate about how craftsmanship improves lifestyle.
      <p>We hire the best talent to build an exceptional brand, find below our current positions.</p>
    </div>
  </div>

  <div class="service-content">
    <div class="luca-tabs">
      <div class="tab-heads">
        <div class="inner">
          <ul>
            <li><a href="#retail" class="active">Retail<span></span></a></li>
            <li><a href="#office">Head Office<span></span></a></li>
            <li><a href="#product">Product<span></span></a></li>
          </ul>
        </div>
      </div>
      <div class="luca-tab-content">
        <div class="inner">

          <div id="retail" class="service-tab-content active-content">
            <div class="faqs">
              <div class="faq">
                <h3>Sales Associate</h3>
                <div class="faq-content">
                  <h2>Responsibilities:</h2>
                  <p><span>We are looking for experienced Sales Associates to join our new boutique in Central London. </span></p>
                  <p><span>This position is for someone who will become a key member of our team, working to offer the best possible customer experience and drive our culture through a premium and welcoming environment. </span></p>
                  <p><span>This role is extremely important in ensuring the highest level of service and happiness to our clients. To do well in this role it</span><span class="WbZuDe"> will be critical to understand the brand’s values and have a deep knowledge of all our products, materials and the brand’s ethos.</span></p>
                  <h2>Duties:</h2>
                  <ul>
                    <ul>
                      <li>
                        <p><span>Welcoming and understanding your client’s needs</span></p>
                      </li>
                      <li>
                        <p><span>Offering an immersive experience into the Luca Faloni brand and collection</span></p>
                      </li>
                      <li>
                        <p><span> Communicating the Luca Faloni values and brand philosophy to clients</span></p>
                      </li>
                      <li>
                        <p><span>Cleverly and effectively cross-selling different product categories</span></p>
                      </li>
                      <li>
                        <p><span>Achieving sales objectives and targets</span></p>
                      </li>
                      <li>
                        <p><span>Building relationships with local and international clients, ensuring they receive a world- class, luxury service whilst always being personable and diligent</span></p>
                      </li>
                      <li>
                        <p><span>Ensuring personal and store presentation reflect the brand’s image</span></p>
                      </li>
                      <li>
                        <p><span>Contributing to and assisting with the visual merchandising of the store </span></p>
                      </li>
                      <li>
                        <p><span>Assisting with any e-commerce tasks which may require support</span></p>
                      </li>
                      <li>
                        <p><span>Assisting with stock management</span></p>
                      </li>
                    </ul>
                  </ul>
                  <h2></h2>
                  <h2>Essential Requirements:</h2>
                  <ul>
                    <ul>
                      <li>
                        <p><span>1-2 years in a customer service environment, possibly in e-commerce, fashion or retail</span></p>
                      </li>
                      <li>
                        <p><span>A charismatic and personable Brand Ambassador with confidence in clienteling and building genuine, long-lasting relationships</span></p>
                      </li>
                      <li>
                        <p><span>Organised, detail oriented and good at problem solving</span></p>
                      </li>
                      <li>
                        <p><span>Self-starter with an entrepreneurial spirit</span></p>
                      </li>
                      <li>
                        <p><span>Positive, interested in fashion, high energy and eager to learn </span></p>
                      </li>
                      <li>
                        <p><span></span>Italian, Russian and Arabic speaking is desirable but not necessary</p>
                      </li>
                      <li>
                        <p>You must be available to work a minimum of four days a week, including weekdays and weekends</p>
                      </li>
                    </ul>
                  </ul>
                  <ul>
                    <ul></ul>
                  </ul>
                  <h2>Benefits:</h2>
                  <ul>
                    <ul>
                      <li style="font-weight: 400;"><span style="font-weight: 400;">Dynamic and fast paced start-up environment</span></li>
                      <li style="font-weight: 400;"><span style="font-weight: 400;">Career opportunity in the company</span></li>
                    </ul>
                  </ul>
                  <p><strong>Apply by sending your CV and cover letter to <a href="mailto:talent@lucafaloni.com">talent@lucafaloni.com</a></strong></p>
                  <p><strong>Applications submitted by recruiters will not be accepted</strong></p>
                </div>
              </div>
            </div>
          </div>
          {% comment %}#retail{% endcomment %}

      <div id="office" class="service-tab-content">
        <div class="faqs">
          <div class="faq">
            <h3>Full-Time Order Fulfilment and Stockroom Assistant</h3>
            <div class="faq-content">
              <h2>Role Description</h2>
              <p>This is a fantastic opportunity for the right individual to join a growing premium menswear brand. You will be working directly for the Head of Operations. Your main tasks will be related to the order fulfilment process, inventory management and quality control checks of inbound stock. This will include selecting items from the stockroom, checking that all orders being sent out to customers meet our high standards of quality and personalization, as well as deliveries received from Italy are defect free. Exceptional attention to detail is critical for a successful execution of these tasks. This role offers opportunity to grow within the customer service and operations team. This role will work on a rota basis five of the seven days a week.</p>
              <h2>Skills and Qualifications</h2>
              <ul>
                <li>
                  <p><span>1-2 years’ experience in a similar role;</span></p>
                </li>
                <li>
                  <p><span>High attention to detail;</span></p>
                </li>
                <li>
                  <p><span>Organisational skills to maintain and improve the layout of the stockroom;</span></p>
                </li>
                <li>
                  <p><span>A sponge for learning- knowing the products and the business inside-out;</span></p>
                </li>
                <li>
                  <p><span>Excellent verbal and written communication skills;</span></p>
                </li>
                <li>
                  <p><span>Punctuality and professional work ethic;</span></p>
                </li>
                <li>
                  <p><span>Experience in inventory management;</span></p>
                </li>
                <li>
                  <p><span>A love of working through challenging to-do lists with a hands-on approach.</span></p>
                </li>
              </ul>
              <h2>Benefits</h2>
              <ul>
                <li>
                  <p><span>Competitive salary aligned with experience and skills;</span></p>
                </li>
                <li>
                  <p><span>Yearly bonus based on individual and company performance;</span></p>
                </li>
                <li>
                  <p><span>28 days holiday (inclusive of Bank Holidays);</span></p>
                </li>
                <li>
                  <p><span>Career opportunity in the customer service and operations department;</span></p>
                </li>
                <li>
                  <p><span>Dynamic and fast paced start-up environment.</span></p>
                </li>
              </ul>
            </div>
          </div>

          <div class="faq">

            <h3>Data Scientist</h3>
            <div class="faq-content">
              <h2>Job Description</h2>
              <p>You will work closely with CFO, Head of Growth, and CEO to deliver deep analytics and data that will translate directly into business growth or efficiency improvements. You are an experienced, hands-on individual with both strong analytical and technical skills, and a business mindset.</p> 
              <h2>Responsibilities</h2>
              <ul>
                <li>
                  <p><span>Produce daily, weekly and monthly reports on KPIs and other performance indicators</span></p>
                </li>
                <li>
                  <p><span>Deliver analysis on key performance marketing metrics to provide actionable insights to improve performance and optimise marketing spend across regions and audiences</span></p>
                </li>
                <li>
                  <p><span>Use customers and sales data to identify opportunities for growth in different markets/channels/products</span></p>
                </li>
                <li>
                  <p><span>Assist CFO on analysis for budgeting, financial forecasts and assessments of new growth areas</span></p>
                </li>
                <li>
                  <p><span>Forecast demand of product categories and share insights and production needs with Production Department</span></p>
                </li>
                <li>
                  <p><span>Ad-hoc analysis and data requests supporting other functions</span></p>
                </li>
                <li>
                  <p><span>Develop and update a shared data centre</span></p>
                </li>
              </ul> 
              <h2>Requirements</h2>
              <ul> 
                <li>
                  <p><span>You are a problem solver with a deep analytical mindset and attention to detail, always curious and willing to learn new skills</span></p>
                </li>
                <li>
                  <p><span>Hard working and comfortable in working with tight deadlines, contributing to a fun, fast-paced, high impact and dynamic environment of Luca Faloni</span></p>
                </li>
                <li>
                  <p><span>Able to communicate complex findings in a clear, simple way</span></p>
                </li>
                <li>
                  <p><span>Excellent command of Excel</span></p>    
                </li>
                <li>
                  <p><span>Experience analyzing data using SQL</span></p>
                </li>
                <li>
                  <p><span>Working knowledge of Python</span></p>
                </li>
                <li>
                  <p><span>Exposure to Tableau, QlikView, Mode, Matplotlib, Looker or similar data visualization tools is desired</span></p>
                </li>
                <li>
                  <p><span>2-3 years experience in relevant jobs with high use of analytics (Consulting, data science in retail)</span></p>
                </li>
                <li>
                  <p><span>Knowledge of the luxury/fashion industry will be considered a plus</span></p>
                </li>
              </ul>
              <h2>Benefits</h2>
              <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Competitive salary plus bonuses</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Stock options</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Spending allowance on brand clothes based on performance</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">22 days of holiday</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Young and creative environment</span></li>
              </ul>
              <p><strong>Please send CV, portfolio and cover letter to:</strong></p>
              <p><strong>Email Title: Data Scientist</strong></p>
              <p><strong>Applications: <a href="mailto:talent@lucafaloni.com">talent@lucafaloni.com</a></strong></p>
            </div>                       
          </div>

          <div class="faq">

            <h3>Digital Designer and Retoucher</h3>
            <div class="faq-content">
              <h2>Role Description</h2>
              <p>This is a fantastic opportunity to grow your career within a premium, heritage menswear brand. Your core role will be designing all digital aspects of the company’s aesthetic look as well as various print  & packaging projects.  You will have excellent design & art direction skills and eye for layouts and digital trends.</p>
              <p>We value a strong work ethic and effective communication skills. We want someone who is ready to take on a variety of responsibilities whilst being incredibly organised and able to project manage effectively.</p>
              <p>A typical day’s work may include the following:</p> 
              <h2>Digital</h2>
              <ul>
                <li>
                  <p><span>Creation of website assets, banners, gif animations</span></p>
                </li>
                <li>
                  <p><span>Design powerful digital adverts (display, retargeting and paid social)</span></p>
                </li>
                <li>
                  <p><span>Design imaginative weekly newsletters</span></p>
                </li>
              </ul> 
              <h2>Store Graphics:</h2>
              <ul>
                <li>
                  <p><span>Design compelling window vinyls for our London and overseas stores</span></p>
                </li>
                <li>
                  <p><span>Update monthly print store material, postcards and looks books</span></p>
                </li>
                <li>
                  <p><span>Finding suppliers and update store carrier bags and ecom box</span></p>
                </li>
              </ul> 
              <h2>Retouch:</h2>
              <ul>
                <li>
                  <p><span>Retouching campaign images in keeping with the tone of the brand</span></p>
                </li>
                <li>
                  <p><span>Image colour correction, cloning and healing, labelling, resizing, and formatting images</span></p>
                </li>
                <li>
                  <p><span>Support with e-commerce images retouch</span></p>
                </li>
              </ul> 
              <h2>Skills and Qualifications:</h2>
              <ul> 
                <li>
                  <p><span>Graduate or similar in a visual arts related degree, or equivalent proven experience</span></p>
                </li>
                <li>
                  <p><span>Experience generating content for a fashion/luxury brand, preferably menswear</span></p>    
                </li>
                <p><span>Strong skills in Adobe Creative Suite (Photoshop, Lightroom, Illustrator, InDesign, Premiere and After Effects)</span></p>
                <li>
                  <p><span>Strong and flexible skills in the practices of typography, colour, and layout</span></p>
                </li>
                <li>
                  <p><span>Comfortable working with both print and digital</span></p>
                </li>
                <li>
                  <p><span>Excellent retouching skills and understanding of colour correction</span></p>

                </li>
                <li>
                  <p><span>Ability to work under pressure without a 9 to 5 mentality</span></p>

                </li>
                <li>
                  <p><span>Maintain a good level of communication with Creative team </span></p>

                </li>
                <li>
                  <p><span>Demonstrate a passion for and understanding of the Luca Faloni to help build the brand personality</span></p>

                </li>
                <li>
                  <p><span>Entrepreneurial - We’re ambitious about our growth, so you need to be flexible and adaptive in an environment of change and uncertainty</span></p>
                </li>
                <li>
                  <p><span>Ability to design and edit videos is a big plus</span></p>
                </li>
              </ul>
              <p><strong>Full-time permanent role</strong></p>
              <p><strong>Flexible start date for the right person</strong></p>
              <p><strong>Please send CV, portfolio and cover letter to:</strong></p>
              <p><strong>Email Title: Digital Design Application</strong></p>
              <p><strong>Applications: <a href="mailto:talent@lucafaloni.com">talent@lucafaloni.com</a></strong></p>
            </div>                       
          </div>
          </div>                       
          </div>
          {% comment %}#office{% endcomment %}

          <div id="product" class="service-tab-content">

            <div class="faq">
              <h3>Menswear Designer (Italian Speaking)</h3>
              <div class="faq-content">
                <h2>Responsibilities:</h2>
                <h2></h2>
                <p><span style="font-weight: 400;">In this role you will design classic menswear staples, producing refined and wearable pieces, contributing to our one permanent collection for the modern man. You will be involved in the entire design process from concept through to delivery, researching, collating and using information on current &amp; future trends for colour, fabric and styles. </span><span style="font-weight: 400;">You will work on both improving current products and develop the range further. </span></p>
                <p><span style="font-weight: 400;">You will focus on fine materials: cashmere, linen, pique’, brushed cotton. As you develop you will establish a close relationship with our suppliers in Italy and will gradually be more involved in the production process.</span></p>
                <h2>Duties:</h2>
                <h2></h2>
                <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Planning and developing ranges</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Creating or visualising an idea and producing a design using computer-aided design (CAD)</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Develop products to meet a brief</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Liaising closely with team on an ongoing basis to ensure the item suits the customer, market and price points</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Sourcing, selecting and buying fabrics, trims, fastenings and embellishments</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Adapting existing designs for bigger productions</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Developing fitting, detailing and adaptations</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Overseeing production</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Negotiating with customers and suppliers</span></li>
                </ul>
                <h2>Essential Requirements:</h2>
                <h2></h2>
                <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Have 2-4 years experience working as a menswear designer for a relevant brand of classic premium menswear</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Good commercial awareness with an excellent understanding of our customer base</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Strong understanding of our brand and style, reflecting this in the products you design. An eye for colour and a feel for fabrics.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">High proficiency in Adobe (Photoshop/illustrator) </span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Keeping up to date with emerging fashion trends as well as general trends relating to fabrics, colours and shapes</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Fluency in both English and Italian</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Good interpersonal skills, with the ability to communicate at all levels of the business. Verbally and written</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Understanding design from a technical perspective, i.e. producing patterns and technical specifications for designs</span></li>
                </ul>
                <h2>Benefits:</h2>
                <ul>
                  <li style="font-weight: 400;"><span style="font-weight: 400;">Yearly bonus based on individual and company performance</span></li>
                  <li style="font-weight: 400;"><span style="font-weight: 400;">Possibility to earn stock options based on performance</span></li>
                  <li style="font-weight: 400;"><span style="font-weight: 400;">22 days of holiday plus bank holidays</span></li>
                  <li style="font-weight: 400;"><span style="font-weight: 400;">Dynamic and fast paced start-up environment</span></li>
                  <li style="font-weight: 400;"><span style="font-weight: 400;">Career opportunity in the company</span></li>
                </ul>
                <p><strong>Apply by sending your CV and cover letter to <a href="mailto:talent@lucafaloni.com">talent@lucafaloni.com</a></strong></p>
                  <p><strong>Applications submitted by recruiters will not be accepted</strong></p>   
              </div>
            </div>
          </div>
          {% comment %}#product{% endcomment %}
          
        </div>
      </div>

      <div class="careers-bottom">
        <div class="inner">
          <p>If you do not find the right role but you believe you’d be a great addition to our team, send your CV and cover letter to <a href="#" mailto="">talent@lucafaloni.com</a></p>

          <p><a href="" target="_blank">Follow us on LinkedIn</a></p>
        </div>
      </div>