{{ 'fullpage.min.css' | asset_url | stylesheet_tag }}
<div id="lookbookContainer">
	<section class="section section1">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/Portofino---Linen-Voyage.jpg?1598');"></div>
			</div>
			<div class="lookbook-col">
				<h1>Lookbook</h1>
				<h2>LINEN<br />VOYAGE</h2>
				<p>by</p>
                <p>Luca Faloni</p>
				
			</div>
		</div>
	</section>
	<section class="section section2">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/Portofino.jpg?1598');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>PORTOFINO<br />Linen Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/Portofino-2.jpg?1598" />
					<a href="/collections/portofino-linen-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section3">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/Panarea-1.jpg?1598');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>PANAREA<br />Linen-Cotton Shorts</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/Panarea-2.jpg?1598" />
					<a href="/collections/panarea-linen-cotton-shorts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section4">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/Forte-1.jpg?1598');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>FORTE<br />Kaftan Linen Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/Forte-2.jpg?1598" />
					<a href="/collections/forte-linen-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
    <section class="section section5">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/Versilia-1.jpg?1598');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>VERSILIA<br />Korean Collar</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/Versilia-2.jpg?1598" />
					<a href="/collections/versilia-linen-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
  <section class="section section6">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/brera-white-lookbook-min.jpg?2274');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
                  <h2>BRERA<br />Polo Shirt</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/Brera-2.jpg?1598" />
					<a href="/collections/brera-pique-polo-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
  <section class="section section7">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/Fine-Silk-Cashmere-Polo-1.jpg?1598');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>FINE<br />SILK-CASHMERE<br />Polo</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/Fine-Silk-Cashmere-Polo-2.jpg?1598" />
					<a href="/collections/fine-silk-cashmere-polos" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>  
  <section class="section section8">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('https://cdn.shopify.com/s/files/1/0597/8805/files/linen-accessories-2-min.jpg?1600');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>LINEN<br />Accessories</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/accessories-3-min.jpg?1600" />
					<a href="/collections/linen-accessories" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>  
</div>
