{{ 'fullpage.min.css' | asset_url | stylesheet_tag }}

<div id="lookbookContainer">
	<section class="section section1">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_Sand_Versilia_The_Great_Escape_Cover.jpg?3239');"></div>
			</div>
			<div class="lookbook-col">
				<h1>Lookbook</h1>
				<h2>THE GREAT<br />ESCAPE</h2>
				<p>by</p>
                <p>Luca Faloni</p>
				
			</div>
		</div>
	</section>
  	<section class="section section2">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_1A.jpg?2622');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>PORTOFINO<br />Linen Shirt</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_1B.jpg?2622" />
					<a href="/collections/portofino-linen-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section3">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_2A.jpg?2622');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>PORTOFINO<br />Linen Shirt</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_2B.jpg?2622" />
					<a href="/collections/portofino-linen-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
	<section class="section section4">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_3A.jpg?2622');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>VERSILIA<br />Linen Shirt</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_3B.jpg?2622" />
					<a href="/collections/versilia-linen-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
    <section class="section section5">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_4A.jpg?2622');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>FORTE<br />Linen Shirt</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_4B.jpg?2622" />
					<a href="/collections/forte-linen-shirts" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>
  <section class="section section7">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/6A2.jpg?2650');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>LINEN<br />Trousers</h2>
					<img src="https://cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_6B.jpg?2650" />
					<a href="/collections/lipari-linen-trousers" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section>  
  <section class="section section8">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_8A.jpg?2650');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>SHORT SLEEVED<br />Polo Shirt</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_8B.jpg?2650" />
					<a href="/collections/short-sleeved-polo-shirt" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
   <section class="section section9">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_9A.jpg?2650');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>FINE SILK-CASHMERE<br />Polo</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_9B.jpg?2650" />
					<a href="/collections/fine-silk-cashmere-polos" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
   <section class="section section10">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_10A.jpg?2650');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>FINE SILK-CASHMERE<br />Crew Neck</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_10B.jpg?2650" />
					<a href="/collections/fine-silk-cashmere-crew-necks" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
   <section class="section section11">
		<div class="lookbook-wrap">
			<div class="lookbook-col">
				<div class="lookbook-bg" style="background-image:url('//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_11A.jpg?2650');"></div>
			</div>
			<div class="lookbook-col">
				<div class="lookbook-product">
					<h2>LINEN<br />Scarf</h2>
					<img src="//cdn.shopify.com/s/files/1/0597/8805/files/Luca_Faloni_The_Great_Escape_Lookbook_Made_in_Italy_11B.jpg?2650" />
					<a href="/collections/fine-silk-cashmere-polos" class="btn">Discover More</a>
				</div>
			</div>
		</div>
	</section> 
  
</div>