<div class="site-menu">
   <ul>
      <!-- Shop Menu -->
      <li class="shop-menu parent-trigger">
         <a href="#" class="parent-item parent-arrow">Shop</a>
         <div class="mega-nav">
            <div class="mega-table">
               <!-- Shop Column 1 -->
               <div class="menu-col">
                  <h3>Category</h3>

                  <ul>
                     <li><a href="#">View All</a></li>
                     <li><a href="/collections/dresses">Dresses</a></li>
                     <li><a href="/collections/jackets-&-coats">Jackets &amp; Coats</a></li>
                     <li><a href="/collections/knitwear">Knitwear</a></li>
                     <li><a href="/collections/shirts-&-top">Shirts &amp; Top</a></li>
                     <li><a href="/collections/trousers">Trousers</a></li>
                     <li><a href="/collections/shirts">Shirts</a></li>
                     <li><a href="/collections/bags-&-accesories">Bags &amp; Accessories</a></li>
                  </ul>


                  {% comment %}<ul>
                     <li class="parent">
                        <a href="#">View All</a>
                        <ul class="submenu">
                           <li><a href="/collections/portofino-linen-shirts">Classic Linen Shirts</a></li>
                           <li><a href="/collections/versilia-linen-shirts">Band Collar Linen Shirts</a></li>
                           <li><a href="/collections/forte-linen-shirts">Kaftan Linen Shirts</a></li>
                          <li><a href="/collections/linen-shirts">View all</a></li>
                        </ul>
                     </li>
                     <li class="parent">
                        <a href="/collections/dresses">Dresses</a>
                        <ul class="submenu">
                           <li><a href="/collections/panarea-linen-cotton-shorts">Linen-Cotton Shorts</a></li>
                           <li><a href="/collections/lipari-linen-trousers">Linen Trousers</a></li>
                        </ul>
                     </li>
                     <li class="parent">
                        <a href="/collections/jackets-&-coats">Jackets &amp; Coats</a>
                        <ul class="submenu">
                           <li><a href="/collections/short-sleeved-polo-shirt">Short Sleeved Polos</a></li>
                           <li><a href="/collections/brera-pique-polo-shirts">Long Sleeved Polo Shirts</a></li>
                        </ul>
                     </li>
                     <li class="parent">
                        <a href="/collections/knitwear">Knitwear</a>
                        <ul class="submenu">
                           <li><a href="/collections/brushed-cotton-shirts">Brushed-Cotton Shirts</a></li>
                           <li><a href="/collections/oxford-cotton-shirts">Oxford Cotton Shirts</a></li>
                        </ul>
                     </li>
                     <li class="parent">
                        <a href="/collections/shirts-&-top">Shirts &amp; Top</a>
                        <ul class="submenu">
                           <li><a href="/collections/fine-silk-cashmere-polos">Fine Knitwear Polos</a></li>
                           <li><a href="/collections/fine-silk-cashmere-crew-necks">Fine Crew Necks</a></li>
                        </ul>
                     </li>
                     <li class="parent">
                        <a href="/collections/trousers">Trousers</a>
                        <ul class="submenu">
                           <li><a href="/collections/cashmere-knitwear">View All</a></li>
                           <li><a href="/collections/cashmere-hoodies">Cashmere Hoodies</a></li>
                           <li><a href="/collections/cashmere-polo-sweaters">Cashmere Polo Sweaters</a></li>
                           <li><a href="/collections/cashmere-crew-necks">Cashmere Crew Necks</a></li>
                           <li><a href="/collections/cashmere-v-necks">Cashmere V Necks</a></li>
                           <li><a href="/collections/cashmere-cable-knit">Cashmere Cable Knit</a></li>
                           <li><a href="/collections/cashmere-roll-necks">Cashmere Roll Necks</a></li>
                           <li><a href="/collections/chunky-knit-cashmere-crew-necks">Chunky Knit</a></li>
                        </ul>
                     </li>
                     <li class="parent">
                        <a href="/collections/shirts">Shirts</a>
                        <ul class="submenu">
                          <li><a href="/collections/linen-accessories">Linen Accessories</a> </li>
                          <li><a href="/collections/leather-belts">Leather Belts</a> </li>
                          <li><a href="/collections/leather-wallets">Wallets</a></li>
                          <li><a href="/collections/leather-travel-bags">Bags</a></li>
                          <li><a href="/collections/cashmere-scarves">Cashmere Scarves</a></li>
                          <li><a href="/collections/cashmere-hats">Cashmere Hats</a></li>
                          <li><a href="/collections/cashmere-lined-leather-gloves">Gloves</a></li>
                          <li><a href="/collections/accessories">View All</a></li>
                        </ul>
                     </li>
                     <li class="parent">
                        <a href="/collections/bags-&-accesories">Bags &amp; Accessories</a>
                        <ul class="submenu">
                          <li><a href="/collections/linen-accessories">Linen Accessories</a> </li>
                          <li><a href="/collections/leather-belts">Leather Belts</a> </li>
                          <li><a href="/collections/leather-wallets">Wallets</a></li>
                          <li><a href="/collections/leather-travel-bags">Bags</a></li>
                          <li><a href="/collections/cashmere-scarves">Cashmere Scarves</a></li>
                          <li><a href="/collections/cashmere-hats">Cashmere Hats</a></li>
                          <li><a href="/collections/cashmere-lined-leather-gloves">Gloves</a></li>
                          <li><a href="/collections/accessories">View All</a></li>
                        </ul>
                     </li>
                  </ul>{% endcomment %}
               </div>
               <!-- Shop Column 2 -->
               <div class="menu-col">
                  <h3>Collections</h3>
                  <ul>
                     <li><a href="#">Tree of Life</a></li>
                     <li><a href="#">AW19</a></li>
                  </ul>
               </div>
               <!-- Shop Column 3 -->
               <div class="menu-col">
                  <h3>Shop Featured</h3>
                  <div class="menu-box">
                     <a href="#">
                        <img src="https://cdn.shopify.com/s/files/1/0116/3322/9905/files/Screen_Shot_2019-07-30_at_16.02.11.png?68" />
                       {% comment %} <h4>Portofino Linen Shirts</h4>{% endcomment %}
                     </a>
                  </div>
               </div>
               <!-- Shop Column 4 -->
               <div class="menu-col">
                  <h3>Shop Coats</h3>
                  <div class="menu-box">
                     <a href="#">
                        <img src="https://cdn.shopify.com/s/files/1/0116/3322/9905/files/Screen_Shot_2019-07-30_at_16.01.30.png?68" />
                        {% comment %}<h4>Portofino Linen Shirts</h4>{% endcomment %}
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </li>

      <!-- LookBook Menu -->
      <li class="book-menu parent-trigger">
         <a href="#" class="parent-item">COLLECTIONS</a>
         {% comment %}<div class="mega-nav">
            <h3>DISCOVER OUR LATEST CAMPAIGNS</h3>
            <div class="mega-table">
               
              <div class="menu-col">
                  <div class="menu-box">
                     <a href="https://lucafaloni.com/pages/the-great-escape">
                        <img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook-summer-2.jpg?3108" />
                        <h4>
                          <span class="visible">The Great Escape</span>
                          <span class="hidden">Explore</span>
                       	</h4>
                    </a>
                 </div>
                 </div>
              
              <div class="menu-col">
                  <div class="menu-box">
                     <a href="/pages/spring-in-the-city">
                        <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-cover-1.jpg?13124" />
                        <h4>
                          <span class="visible">Spring in the City</span>
                          <span class="hidden">Explore</span>
                       	</h4>
                     </a>
                  </div>
               </div>
                       
                       <div class="menu-col">
                  
                         <div class="menu-box">
                     <a href="/pages/the-highlands">
                        <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/highlands-cover.jpg?13124" />
                        <h4>
                          <span class="visible">The Highlands</span>
                          <span class="hidden">Explore</span>
                       	</h4>
                     </a>
                  </div>
               </div>
                   
                  
               
            </div>
         </div>{% endcomment %}
      </li>

      <!-- About Us Menu -->
      <li class="about-menu parent-trigger">
         <a href="#" class="parent-item">ABOUT</a>
         {% comment %}<div class="mega-nav">
            <div class="mega-table">
               <div class="menu-col">
                  <h3>Brand</h3>
                  <ul>
                     <li><a href="/pages/our-story">Our Story</a></li>
                     <li><a href="/pages/press">Press</a></li>
                     <li><a href="/blogs/news/">Journal</a></li>
                  </ul>
               </div>
               <div class="menu-col">
                  <h3>Craft</h3>
                  <ul>

                     <li><a href="/pages/our-linen">Linen</a></li>
                     <li><a href="/pages/our-cotton">Cotton</a></li>
                     <li><a href="/pages/our-leather">Leather</a></li>
                     <li><a href="/pages/our-cashmere">Cashmere</a></li>
                     <li><a href="/pages/our-artisans">Artisans</a></li>
                  </ul>
               </div>
               <div class="menu-col">
                  <h3>Journal</h3>
                  <ul>
                     <li><a class="blog-menu-link" href="/blogs/news/most-beautiful-mediterranean-destinations-to-sail" data-id="blogmenu1">Most Beautiful Mediterranean Destinations to Sail</a></li>
                     <li><a class="blog-menu-link" href="https://lucafaloni.com/blogs/news/linen-the-beautifully-enigmatic-material-for-the-summer" data-id="blogmenu2">All you Need to Know about Linen</a></li>
                     <li><a class="blog-menu-link" href="/blogs/news/island-adventures-mysterious-panarea" data-id="blogmenu3">Island Adventures: Mysterious Panarea</a></li>
                    <li><a href="/blogs/news/">Other Articles</a></li>
                  </ul>
               </div>
               <div class="menu-col">
                  <h3>Featured Blog</h3>
                  <div class="blog-menu">
                     <div id="blogmenu1" class="menu-box blog-menu-box">
                        <a href="/pages/our-artisans">
                           <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/our-artisans-drop-down.jpg?22330" />
                           <h4>Our Artisans</h4>
                        </a>
                     </div>
                  </div>
              </div>
            </div>
         </div>{% endcomment %}
      </li>
       <!-- Our World Menu -->
      <li class="about-menu parent-trigger">
         <a href="#" class="parent-item">OUR WORLD</a>
         {% comment %}<div class="mega-nav">
            <div class="mega-table">
               <div class="menu-col">
                  <h3>Brand</h3>
                  <ul>
                     <li><a href="/pages/our-story">Our Story</a></li>
                     <li><a href="/pages/press">Press</a></li>
                     <li><a href="/blogs/news/">Journal</a></li>
                  </ul>
               </div>
               <div class="menu-col">
                  <h3>Craft</h3>
                  <ul>

                     <li><a href="/pages/our-linen">Linen</a></li>
                     <li><a href="/pages/our-cotton">Cotton</a></li>
                     <li><a href="/pages/our-leather">Leather</a></li>
                     <li><a href="/pages/our-cashmere">Cashmere</a></li>
                     <li><a href="/pages/our-artisans">Artisans</a></li>
                  </ul>
               </div>
               <div class="menu-col">
                  <h3>Journal</h3>
                  <ul>
                     <li><a class="blog-menu-link" href="/blogs/news/most-beautiful-mediterranean-destinations-to-sail" data-id="blogmenu1">Most Beautiful Mediterranean Destinations to Sail</a></li>
                     <li><a class="blog-menu-link" href="https://lucafaloni.com/blogs/news/linen-the-beautifully-enigmatic-material-for-the-summer" data-id="blogmenu2">All you Need to Know about Linen</a></li>
                     <li><a class="blog-menu-link" href="/blogs/news/island-adventures-mysterious-panarea" data-id="blogmenu3">Island Adventures: Mysterious Panarea</a></li>
                    <li><a href="/blogs/news/">Other Articles</a></li>
                  </ul>
               </div>
               <div class="menu-col">
                  <h3>Featured Blog</h3>
                  <div class="blog-menu">
                     <div id="blogmenu1" class="menu-box blog-menu-box">
                        <a href="/pages/our-artisans">
                           <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/our-artisans-drop-down.jpg?22330" />
                           <h4>Our Artisans</h4>
                        </a>
                     </div>
                  </div>
              </div>
            </div>
         </div>{% endcomment %}
      </li>
   </ul>
</div>