<ul class="site-nav " id="SiteNavMobile">
   <li class="parent">
      <a href="#">Shop{% include 'icon-chevron-down' %}</a>
      <div class="mega-menu-mobile">
         <ul>
            <li class="title"><strong>By Design</strong>
               <ul class="title-sub">
                  <li class="parent">
                     <a href="javascript:void(0)">Linen Shirts{% include 'icon-chevron-right' %}</a>
                     <ul>
                        <li><a href="/collections/linen-shirts">View all</a></li>
                        <li><a href="/collections/portofino-linen-shirts">Classic Linen Shirts</a></li>
                        <li><a href="/collections/versilia-linen-shirts">Korean Linen Shirts</a></li>
                        <li><a href="/collections/forte-linen-shirts">Kaftan Linen Shirts</a></li>
                     </ul>
                  </li>
                  <li class="parent">
                     <a href="javascript:void(0)">Trousers and Shorts{% include 'icon-chevron-right' %}</a>
                     <ul>
                        <li><a href="/collections/panarea-linen-cotton-shorts">Linen-Cotton Shorts</a></li>
                        <li><a href="/collections/lipari-linen-trousers">Linen Trousers</a></li>
                     </ul>
                  </li>
                  <li class="parent">
                     <a href="javascript:void(0)">Pique Polos{% include 'icon-chevron-right' %}</a>
                     <ul>
                        <li><a href="/collections/short-sleeved-polo-shirt">Short Sleeved Polos</a></li>
                       <li><a href="/collections/brera-pique-polo-shirts">Long Sleeved Shirts</a></li>
                     </ul>
                  </li>
                  <li class="parent">
                     <a href="javascript:void(0)">Cotton Shirts{% include 'icon-chevron-right' %}</a>
                     <ul>
                        <li><a href="/collections/brushed-cotton-shirts">Brushed-Cotton</a></li>
                        <li><a href="/collections/oxford-cotton-shirts">Oxford</a></li>
                     </ul>
                  </li>
                  <li class="parent">
                     <a href="javascript:void(0)">Silk-Cashmere Knitwear{% include 'icon-chevron-right' %}</a>
                     <ul>
                        <li><a href="/collections/fine-silk-cashmere-polos">Fine Polos</a></li>
                        <li><a href="/collections/fine-silk-cashmere-crew-necks">Fine Crew Necks</a></li>
                     </ul>
                  </li>
                  <li class="parent">
                     <a href="javascript:void(0)">Cashmere Knitwear{% include 'icon-chevron-right' %}</a>
                     <ul>
                        <li><a href="/collections/cashmere-knitwear">View All</a></li>
                           <li><a href="/collections/cashmere-hoodies">Cashmere Hoodies</a></li>
                           <li><a href="/collections/cashmere-polo-sweaters">Cashmere Polo Sweaters</a></li>
                           <li><a href="/collections/cashmere-cable-knit">Cashmere Cable Knit</a></li>
                           <li><a href="/collections/cashmere-crew-necks">Cashmere Crew Necks</a></li>
                           <li><a href="/collections/cashmere-v-necks">Cashmere V Necks</a></li>
                           <li><a href="/collections/cashmere-roll-necks">Cashmere Roll Necks</a></li>
                           <li><a href="/collections/chunky-knit-cashmere-crew-necks">Chunky Knit</a></li>
                     </ul>
                  </li>
                  <li class="parent">
                     <a href="javascript:void(0)">Accessories{% include 'icon-chevron-right' %}</a>
                     <ul>
                        <li><a href="/collections/accessories">View All</a></li>
                           <li><a href="/collections/linen-accessories">Linen Accessories</a> </li>
                           <li><a href="/collections/leather-belts">Leather Belts</a> </li>
                           <li><a href="/collections/leather-wallets">Wallets</a></li>
                          <li><a href="/collections/leather-travel-bags">Bags</a></li>
                          <li><a href="/collections/cashmere-scarves">Cashmere Scarves</a></li>
                          <li><a href="/collections/cashmere-lined-leather-gloves">Gloves</a></li>
                          <li><a href="/collections/cashmere-hats">Cashmere Hats</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
         </ul>
         <ul>
            <li class="title"><strong>By Material</strong>
               <ul class="title-sub">
                  <li><a href="/collections/linen">Linen</a></li>
                  <li><a href="/collections/cotton">Cotton</a></li>
                  <li><a href="/collections/cashmere">Cashmere</a></li>
                  <li><a href="/collections/silk-cashmere">Silk-cashmere</a></li>
                  <li><a href="/collections/leather">Leather</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </li>
   <li class="parent">
      <a href="#">Lookbook{% include 'icon-chevron-down' %}</a>
      <div class="mega-menu-mobile lbookmenu">
         <div class="lmenu">
            <div class="lmenu-col">
               <a href="/pages/spring-in-the-city">
                  <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-cover-1.jpg?13124" />
                  <h3>Spring in the City</h3>
               </a>
            </div>
            <div class="lmenu-col">
               <a href="/pages/the-highlands">
                  <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/highlands-cover.jpg?13124" />
                  <h3>The Highlands</h3>
               </a>
            </div>
            <div class="lmenu-col">
               <a href="/pages/linen-voyage">
                  <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/linen-voyage-cover.jpg?13124" />
                  <h3>Linen Voyage</h3>
               </a>
            </div>
         </div>
      </div>
  </li>
 <li class="parent about_menu_style">
      <a href="#">About us{% include 'icon-chevron-down' %}</a>
      <div class="mega-menu-mobile">
         
         <ul>
            <li class="title"><strong>Brand</strong>
               <ul class="title-sub">
                  <li><a href="/pages/our-story">Our Story</a></li>
                  <li><a href="/pages/press">Press</a></li>
                  <li><a href="/blogs/other-articles/">Journal</a></li>
               </ul>
            </li>
         </ul>
         <ul>
            <li class="title"><strong>Craft</strong>
               <ul class="title-sub">
                  <li><a href="/pages/our-cashmere">Cashmere</a></li>
                  <li><a href="/pages/our-linen">Linen</a></li>
                  <li><a href="/pages/our-leather">Leather</a></li>
                  <li><a href="/pages/our-cotton">Cotton</a></li>
                  <li><a href="/pages/our-artisans">Artisans</a></li>
               </ul>
            </li>
         </ul>
         <ul>
            <li class="title"><strong>Journal</strong>
               <ul class="title-sub">
                  <li><a href="#">Brushed Cotton: a Cloth of Style and Substance</a></li>
                  <li><a href="#">Brushed Cotton: a Cloth of Style and Substance</a></li>
               </ul>
            </li>
         </ul>
      </div>
   </li>
</ul>