<div class="mobile-menu">
  <div class="mobile-menu-nav">
    <div id="mhome" class="mobile-main-nav">
      <ul>
        <ul class="border">
          <li><a href="#mshop">SHOP</a></li>
          <li><a href="#mcollections">COLLECTIONS</a></li>
        </ul>
        <li class="border"><a href="#">ABOUT</a></li>
        <li class="border"><a href="#">OUR WORLD</a></li>
      </ul>
    </div>

    <div id="msearch" class="mobile-main-nav">
      {% include 'search-form' %}
    </div>

    <div id="mshop" class="minnermenu">
      <ul>
        <li class="title"><a href="#">Back to Menu<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-right" viewBox="0 0 7 11"><path d="M1.5 11A1.5 1.5 0 0 1 .44 8.44L3.38 5.5.44 2.56A1.5 1.5 0 0 1 2.56.44l4 4a1.5 1.5 0 0 1 0 2.12l-4 4A1.5 1.5 0 0 1 1.5 11z" fill="#fff"></path></svg></a></li>

        <li><a href="#">View All</a></li>
        <li><a href="#">Dressers</a></li>
        <li><a href="#">Jackets &amp; Coats</a></li>
        <li><a href="#">Knitwear</a></li>
        <li><a href="#">Shirts &amp; Tops</a></li>
        <li><a href="#">Trousers</a></li>
        <li><a href="#">Skirts</a></li>
        <li><a href="#">Bags &amp; Accesories</a></li>

      </ul>
    </div>

    <div id="mcollections" class="minnermenu">
      <ul>
        <li class="title"><a href="#">Back to Menu<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-right" viewBox="0 0 7 11"><path d="M1.5 11A1.5 1.5 0 0 1 .44 8.44L3.38 5.5.44 2.56A1.5 1.5 0 0 1 2.56.44l4 4a1.5 1.5 0 0 1 0 2.12l-4 4A1.5 1.5 0 0 1 1.5 11z" fill="#fff"></path></svg></a></li>
        <li><a href="#">Tree of Life</a></li>
        <li><a href="#">AW19</a></li>
      </ul>
    </div>

    {% comment %}<div id="mlookbook" class="minnermenu">
      <ul>
        <li class="title"><a href="#">Back to Menu<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-right" viewBox="0 0 7 11"><path d="M1.5 11A1.5 1.5 0 0 1 .44 8.44L3.38 5.5.44 2.56A1.5 1.5 0 0 1 2.56.44l4 4a1.5 1.5 0 0 1 0 2.12l-4 4A1.5 1.5 0 0 1 1.5 11z" fill="#fff"></path></svg></a></li>
        <li>
          <a href="/pages/the-great-escape">
            <img src="https://cdn.shopify.com/s/files/1/0597/8805/files/lookbook-summer-2.jpg?3108" />
            <h4>
              <span class="visible">The Great Escape</span>
            </h4>
          </a>
        </li>    
        <li>
          <a href="/pages/spring-in-the-city">
            <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/spring-cover-1.jpg?13124" />
            <h4>
              <span class="visible">Spring in the City</span>
            </h4>
          </a>
        </li>
        <li>
          <a href="/pages/the-highlands">
            <img src="https://cdn.shopify.com/s/files/1/0071/0659/2820/files/highlands-cover.jpg?13124" />
            <h4>
              <span class="visible">The Highlands</span>
            </h4>
          </a>
        </li>
      </ul>
    </div>{% endcomment %}

    {% comment %}<div id="mabout" class="minnermenu">
     <ul>
      <li class="title"><a href="#">Back to Menu<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-right" viewBox="0 0 7 11"><path d="M1.5 11A1.5 1.5 0 0 1 .44 8.44L3.38 5.5.44 2.56A1.5 1.5 0 0 1 2.56.44l4 4a1.5 1.5 0 0 1 0 2.12l-4 4A1.5 1.5 0 0 1 1.5 11z" fill="#fff"></path></svg></a></li>
      <li class="smenu">
       <a href="#" aria-describedby="a11y-external-message">Brand</a>
       <ul>
        <li><a href="/pages/our-story">Our Story</a></li>
        <li><a href="/pages/press">Press</a></li>
        <li><a href="/blogs/news/">Journal</a></li>
      </ul>
    </li>
    <li class="smenu">
     <a href="#" aria-describedby="a11y-external-message">Crafts</a>
     <ul>
      <li><a href="/pages/our-linen">Linen</a></li>
      <li><a href="/pages/our-cotton">Cotton</a></li>
      <li><a href="/pages/our-leather">Leather</a></li>
      <li><a href="/pages/our-cashmere">Cashmere</a></li>
      <li><a href="/pages/our-artisans">Artisans</a></li>
    </ul>
  </li>
  <li class="smenu">
   <a href="#" aria-describedby="a11y-external-message">Journal</a>
   <ul>
    <li><a class="blog-menu-link" href="/blogs/news/most-beautiful-mediterranean-destinations-to-sail" data-id="blogmenu1">Most Beautiful Mediterranean Destinations to Sail</a></li>
    <li><a class="blog-menu-link" href="https://lucafaloni.com/blogs/news/linen-the-beautifully-enigmatic-material-for-the-summer" data-id="blogmenu2">All you Need to Know about Linen</a></li>
    <li><a class="blog-menu-link" href="/blogs/news/island-adventures-mysterious-panarea" data-id="blogmenu3">Island Adventures: Mysterious Panarea</a></li>
    <li><a href="/blogs/news/">Other Articles</a></li>
  </ul>
</li>
</ul>
</div>{% endcomment %}
</div>

<div class="mobile-menu-icons">
  <div class="mobile-menu-col">
    <a class="mobile-main-nav-link" href="#mhome">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20 7.093v-5.093h-3v2.093l3 3zm4 5.907l-12-12-12 12h3v10h7v-5h4v5h7v-10h3zm-5 8h-3v-5h-8v5h-3v-10.26l7-6.912 7 6.99v10.182z"/></svg>
    </a>
  </div>
  <div class="mobile-menu-col">
    <a class="mobile-main-nav-link" href="#msearch">
      {% include 'icon-search' %}
    </a>
  </div>
  <div class="mobile-menu-col">
      {% comment %}{% form 'currency' %}
      {{ form | currency_selector }}
      {% endform %}{% endcomment %}
      
      {% comment %}{% form 'currency' %}
      <select name="currency">
        {% for currency in shop.enabled_currencies %}
        {% if currency == cart.currency %}
        <option selected="true">{{currency.iso_code}}</option>
        {% else %}
        <option>{{currency.iso_code}}</option>
        {% endif %}
        {% endfor %}
      </select>
      {% endform %}{% endcomment %}

    </div>
    <div class="mobile-menu-col">
      {% if shop.customer_accounts_enabled %}
      {% if customer %}
      <a href="/account" class="site-header__icon site-header__account">
        {% include 'icon-login' %}
      </a>
      {% else %}
      <a href="/account/login" class="site-header__icon site-header__account">
        {% include 'icon-login' %}
      </a>
      {% endif %}
      {% endif %}
    </div>
  </div>