<div class="main-popup js-close-popup">

  <div class="overlay">
    <div class="popup-inner">
      <div class="popup-banner">
       <img src="{{ 'popup-img.jpg' | asset_url }}" alt="popup-img">
     </div>

     <div class="form-box">
      <form action="#" 
      method="get" name="mc-embedded-subscribe-form" class="validate newsletter-form-popup">

      <h3 class="text-center">JOURNEY WITH US</h3>
      <p>Take a moment to join and explore ancient crafts and heavenly clothing.</p>

      <div class="ui">
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"  placeholder="Email Address" required>

        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_b571400f352a1e3357a0262be_bb9f27e3b3" tabindex="-1" value="">
        </div>

        <input type="submit" value="Send" name="subscribe" id="mc-embedded-subscribe" class="button submit mc-button">
      </div>

      <div id="subscribe-result" class="responses">
      </div>

    </form>
  </div>

  <div class="close-icon close-popup">
    <span>X</span>
  </div>
</div>
</div>

</div>