<ul class="site-nav list--inline " id="SiteNav">
   <li class="parent">
      <a href="#">Shop</a>
      <div class="mega-menu">
         <ul>
            <li><strong>By Design</strong></li>
            <li class="parent">
               <a href="#">Linen Shirts</a>
               <ul>
                  <li><a href="#">Classic Linen Shirts</a></li>
                  <li><a href="#">Korean Linen Shirts</a>
                  </li>
                  <li><a href="#">Kaftan Line Shirts</a></li>
               </ul>
            </li>
            <li class="parent">
               <a href="#">Trousers and Shorts</a>
               <ul>
                  <li><a href="#">Classic Linen Shirts</a></li>
                  <li><a href="#">Korean Linen Shirts</a>
                  </li>
                  <li><a href="#">Kaftan Line Shirts</a></li>
               </ul>
            </li>
            <li class="parent">
               <a href="#">Pique Polos</a>
               <ul>
                  <li><a href="#">Classic Linen Shirts</a></li>
                  <li><a href="#">Korean Linen Shirts</a>
                  </li>
                  <li><a href="#">Kaftan Line Shirts</a></li>
               </ul>
            </li>
            <li class="parent">
               <a href="#">Cotton Shirts</a>
               <ul>
                  <li><a href="#">Classic Linen Shirts</a></li>
                  <li><a href="#">Korean Linen Shirts</a>
                  </li>
                  <li><a href="#">Kaftan Line Shirts</a></li>
               </ul>
            </li>
            <li class="parent">
               <a href="#">Silk Knitwear</a>
               <ul>
                  <li><a href="#">Classic Linen Shirts</a></li>
                  <li><a href="#">Korean Linen Shirts</a>
                  </li>
                  <li><a href="#">Kaftan Line Shirts</a></li>
               </ul>
            </li>
            <li class="parent">
               <a href="#">Cashmere Knitwear</a>
               <ul>
                  <li><a href="#">Classic Linen Shirts</a></li>
                  <li><a href="#">Korean Linen Shirts</a>
                  </li>
                  <li><a href="#">Kaftan Line Shirts</a></li>
               </ul>
            </li>
            <li>
               <a href="#">Accessories</a>
               <ul>
                  <li><a href="#">Classic Linen Shirts</a></li>
                  <li><a href="#">Korean Linen Shirts</a>
                  </li>
                  <li><a href="#">Kaftan Line Shirts</a></li>
               </ul>
            </li>
         </ul>
         <ul>
            <li><strong>By Material</strong></li>
            <li><a href="#">Linen</a></li>
            <li><a href="#">Cotton</a></li>
            <li><a href="#">Cashmere</a></li>
            <li><a href="#">Silk-cashmere</a></li>
            <li><a href="#">Leather</a></li>
         </ul>
         <ul>
            <li><strong>Featured Collection</strong></li>
            <li class="featured-menu-box">
               <a href="#">
               <img src="">
               <span>LAKE COMO</span>
               </a>
            </li>
         </ul>
      </div>
   </li>
</ul>