<div class="page-width collection-slider" data-aos="fade-up">
    <div class="section-header text-center">
        <h2>EXPLORE FEATURED COLLECTIONS</h2>
    </div>

    <div class="collection-grid collection-slider-content">
      <ul class="collection-list-slider owl-carousel owl-theme">
        {% for collection in product.collections %}
           {% assign featured = collection.metafields["global"]["featuredCollections"] | split: "," %}
        
           	{% if featured != blank %}
        		{% assign featured_collection = featured | where: "true" %}
        		{% if featured_collection != blank %}
        			{% break %}
       			{% endif %}
			{% endif %}
        {% endfor %}
        
        {% if featured_collection != blank %}
          {% assign compaire = '' %}
          {% for featured in featured_collection %}
            {% assign sfeatured = featured | split: ":" %}
            {% assign cid = sfeatured | first %}
            	{% capture compaire %}
            		{{ compaire }} {{ cid }}
            	{% endcapture %}
          {% endfor %}

          {% for collection in collections  %}
          	{% if compaire contains collection.id %}
          		<li class="item">{% include 'collection-grid-item' %}</li>
          	{% endif %}
          {% endfor %}
		{% else %}
          {% assign featured_collection = "133039095860, 133039161396, 133039128628" | split: ", " %}
          {% for featured in featured_collection %}
            {% assign sfeatured = featured | split: ":" %}
            {% assign cid = sfeatured | first %}
              {% capture compaire %}
              	{{ compaire }} {{ cid }}
              {% endcapture %}
            {% endfor %}

            {% for collection in collections  %}
            	{% if compaire contains collection.id %}
            		<li class="item">{% include 'collection-grid-item' %}</li>
            	{% endif %}
          {% endfor %}
        {% endif %}
      </ul>
    </div>
</div>